* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2, p {
    font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
    margin: 20px 0px;
}

button {
    background-color: rgba(red, green, blue, alpha);
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px;
    border-radius: 60px;
    border: 0px;
}