* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   width: 828px;
   height: 793px;
   background-color: #eedcdc;
   padding: 30px;
   border-radius: 20px;
   
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
input{
    width: 100%;
    height: 60px;
    background-color: #FEFEFE;
    font-size: 25px;
    padding: 5px;
    border-radius: 15px;
}
button{
    background-color: #F02727;
    width: 267px;
    height: 60px;
    font-size: 32px;
    color: #FFFFFF;
    border-radius: 80px;
}
.botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}
